<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="container mt-4">
<h1 class="mb-4">Car List</h1>
<h3>Add Car</h3>
<div class="row">
    <div class="col-md-6">
        <form method="post" action="{{ url_for('cars.cars') }}" enctype="application/json">
            <div class="form-group">
                <label for="brand">Brand:</label>
                <input type="text" class="form-control" name="brand" required>
            </div>

            <div class="form-group">
                <label for="model">Model:</label>
                <input type="text" class="form-control" name="model" required>
            </div>

            <div class="form-group">
                <label for="year">Year:</label>
                <input type="number" class="form-control" name="year" required>
            </div>

            <button type="submit" class="btn btn-primary">Add Car</button>
        </form>
    </div>
</div>
<br>
<div class="mt-4">
    <h3>Cars</h3>
    <ul class="list-group">
        {% for car in cars %}
        <li class="list-group-item">
            {{ car.brand }} - {{ car.model }} - {{ car.year }}
            <form method="get" action="{{ url_for('cars.delete_car', car_id=car.id) }}"
                  style="display:inline;">
                <button type="submit" class="btn btn-danger btn-sm float-right">Delete</button>
            </form>
            <a href="{{ url_for('cars.update_car', car_id=car.id) }}" class="btn btn-primary btn-sm float-right mr-2">Edit</a>
        </li>
        {% endfor %}
    </ul>
</div>

<br><br>
</body>
</html>
