{% extends "base.html" %}

{% block content %}
<center><h2>{{ title }}</h2></center>
<div style="display: flex; margin: 20px;">
    <div style="flex: 25%; margin-right: 20px;">
        <table>
            <tr>
                <td>Ім'я: Євген Смадич</td>
            </tr>
            <tr>
                <td>Email: zsmadic@gmail.com</td>
            </tr>
            <tr>
                <td>GitHub: <a href="https://github.com/Lucky773"> Сторінка на GitHub</a></td>
            </tr>
            <tr>
                <td>Instagram: <a href="https://www.instagram.com/_smadich_/"> Сторінка в Instagram</a></td>
            </tr>
            <tr>
                <td><div class="main_image"></div></td>
            </tr>
        </table>
    </div>
    <div style="flex: 75%; padding: 20px;"  class="div1">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida lacus at efficitur fermentum. Fusce vel massa eu purus consequat consectetur. Vivamus aliquam velit ut quam pharetra, ut facilisis lectus tincidunt. Suspendisse non ligula et dui elementum semper ut vel justo. Vivamus auctor justo in sapien laoreet, id interdum orci ultrices. Aliquam erat volutpat. Morbi vestibulum leo et justo consectetur, vel luctus velit bibendum. Aenean vel rhoncus elit. Nullam auctor fringilla nunc, vel iaculis urna interdum vel. Nullam feugiat fermentum odio, id cursus elit vestibulum ut. Sed ac ipsum ac mauris cursus malesuada a ac mauris. Vivamus vitae ligula eget dui pellentesque suscipit ut ac elit.

            Proin bibendum varius augue, eget eleifend nulla hendrerit a. Vivamus id libero eu felis dapibus gravida. Fusce et velit in justo feugiat tincidunt. Quisque gravida urna vel efficitur auctor. Integer in magna nec tellus bibendum consequat ut ac justo. Sed in sapien eu nisl varius euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In hac habitasse platea dictumst. Etiam facilisis quam nec lorem vestibulum, eu suscipit urna consectetur. Mauris et tincidunt libero. Vivamus ullamcorper finibus mi a accumsan. Integer vel elit ac urna luctus dignissim vel eu mauris. Integer tincidunt purus vel odio cursus, ac malesuada ligula egestas. Sed quis sagittis dui. Sed a libero auctor, posuere nulla id, volutpat risus.
        </p>
    </div>
</div>
{% endblock %}